* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 31, 20);
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align:center;
    padding: .8em;
}

h1 > span {
    text-transform: capitalize;
}

header {
    background-color: black;
    width: 100vw;
    /* height: 10vh; */
    position: fixed;
}

.main {
    width: 85%;
    border: red solid 1px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 20em); */
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    /* margin: 0 auto 0 auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top: 0; */
    /* margin-bottom: 0; */
}

img {
    width: 100%;
    height: 17em;
    object-fit: cover;
    object-position: center;
}

.card {
    position: relative;
}
.card-footer {
    position: absolute;
    border: green solid 5px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between; 
    padding: .5em;

}

.card-footer > p {
    background-color: rgb(255,255,255,.6);
    color: white;
    /* padding: .55em; */
    font-size: 2em;
}

.card-footer > i {
    align-self: center;
    font-size: 2em;
    color: green;
}










    
