* {
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

body {
    margin: 0;
    background-color: rgb(40,43,40);
}

/* .box { */
/*     background: #000; */
/*     border: 5px solid red; */
/*     width: 100px; */
/*     height: 100px; */
/*     padding: 10px; */
/*     /1* margin: 1em; *1/ */
/* } */

header {
    text-align:center;
    color: whitesmoke;
    background-color: black;
    width: 100%;
    position:fixed;
    font-size: 1.5rem;
    padding: .5em;
}

header > h1 {
    margin: 0;
    text-transform: uppercase;
}

span {
    text-transform: capitalize;
}

/*double container pattern*/

/*     margin: 0 auto; */
/*     background-color: gray; */ 
/* } */

.main {
    display:grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.6rem;
}

.card {
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    position: relative;
}

.card-footer {
    border: solid green 5px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: .55em;
}

.card-footer > .fa-video {
    align-self: center;
    color: green;
    font-size: 2em;
}
